body {
    background-color: black;
    color: white;
}

.card {
    background-color: black;
    border: none;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card-img-top {
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.card-body {
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
}

.bg-black-content {
    padding: 20px;
}

.row.gx-3 {
    gap: 1rem; /* Dodatkowy odstęp między kolumnami */
}

h1, h2 {
    color: white;
}

.bg-orange {
    background-color: #FF9900;
}

.navbar-dark .navbar-nav .nav-link {
    color: #000;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #333;
}

footer {
    background-color: #FF9900;
    color: white;
    padding: 20px 0;
}
